:root {
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input,
select {
  background-color: #242424;
  color: red;
  border: none;
  border-bottom: 1px solid gray;
  font-size: xx-large;
  min-width: 100px;
  max-width: auto;
  flex: 1;

}

input,
select:focus {
  border-bottom: 1px solid #FFFFFF;
  outline: none;
}

form {
  font-size: xx-large;
}

button {
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: white;
  border: 1px solid red;
  color: #242424;
  border-radius: 15px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  background-color: #242424;
  color: white;
  transition: 0.5s;
}

@media (max-width: 576px) {

  form {
    font-size: larger;
    padding: 10px;
  }

  select,
  input {
    width: 70%;
  }

  button {
    padding: 10px 20px 10px 20px;

  }

}